<div id="c-static">
  <div id="a-terms-of-service" class="prose fixed-width-container">
    <h1>Rules</h1>
    
    <p>Please read the following before using the site:</p>
    
    <ul>
      <li>ATFbooru reserves the right to delete or modify your account, or any content you have posted to the site.</li>
      <li>You will make a best faith effort to upload only high quality loli, shota, and cub content.</li>
      <li>You have read the <%= link_to "tagging guidelines", wiki_pages_path(:title => "help:tags") %>.</li>
    </ul>

    <div class="section">
      <h3>Post/Comment Limiting</h3>
      <p>You cannot upload a post or comment during the first week of signing up.</p>
      <p>After the initial period, you can post up to two comments an hour and a variable number of posts based on how many of your previous uploads were approved or deleted.</p>
    </div>

    <div class="section">
      <h3>Content</h3>
      <p>Even when content passes the quality and content standards, we require the artist to be somewhat skilled. We will not accept badly drawn doodles, whether intentional or because of lack of skill, nor do we accept bad edits, crops of scenes from a copyrighted show, etc.</p>
      <h4>Generally accepted</h4>
      <ul>
        <li>Non-3D artworks (images, animations, flash, and similar) that focus on loli, shota and cub (furry) content. Toddler and baby content is also allowed.</li>
      </ul>

      <h4>Conditionally accepted</h4>
      <ul>
        <li>3D content: As long as 3D content is not made to look realistic (modeled to look like real humans), it can be approved. 3D content in a manga- or western cartoon-like style is generally accepted, but realistic 3D content, modded game screenshots (like Skyrim), etc. are not, unless they fall into the categories listed above.</li>
        <li>Doujin, manga and comic pages: Covers are generally accepted. Other pages are when they can work as a stand-alone artwork (e.g. a drawing that takes up the entire page). One-page or small (3-4 page) comics are also allowed.</li>
        <li>Content that's generally considered to be just outside of the "loli/shota" range. Some boards refer to this as "teen" or "teenage", or may refer to it as loli/shota regardless. However, we are still focussing on the "young teen" part of this type of content, meaning that clearly mature looking characters are still not allowed. This is pretty subjective, so only upload if you don't mind your uploads being rejected for this reason. Browsing the booru can give you a good idea of what is and isn't allowed. You can always upload a test post and see what happens.</li>
        <li>Modified art of someone else: Edits can be allowed as long as they are competent and make sense (e.g. uncensoring), and as long as the original artist is credited. Lazy recolours, badly done nude-edits, etc. are not allowed.</li>
      </ul>

      <h4>Generally rejected</h4>

      <ul>
        <li>Any kind of real photography or videos, including pornography, ESPECIALLY CHILD PORNOGRAPHY. In that last case, the user(s) involved can be reported to authorities. An exception to this rule is, of course, photographs or scans of hand-drawn artworks.</li>
        <li>If the character depicted is directly based on a real child, especially if they are a victim of production of child pornography, it is not allowed. However, exceptions can be made for artworks which are "inspired by" certain characters. For example, characters that exist in fictional art, but also happen to appear in a non animated film. These are verified case by case. </li>
        <li>Content that does not contain loli/shota or cub characters.</li>
        <li>Doujins/mangas/comics as explained above.</li>
        <li>3D content with exceptions listed above.</li>
      </ul>

      <p>Some things may be harder to judge than others, so it is possible that something might be rejected while you think it shouldn't be. We also judge content by what we can see. You or even the artist can say the character is supposed to be a loli or shota, but if they look nothing like that then the upload will not be approved. If you think a deletion or rejection is unjustified, you can appeal it or contact a moderator.</p>

      <h3>Quality</h3>
      <h4>Generally accepted</h4>
      <ul>
        <li>High quality and high resolution images and videos.</li>
        <li>Lower resolution content is fine as long as anything that is depicted is clearly distinguishable and visible, and text is readable. If a higher resolution version of the same artwork is uploaded by the same user or someone else, the lower resolution one will be removed. Similarly, if a lower resolution version is uploaded, it'll be removed.</li>
        <li>Some compression artifacts are fine if the original uncompressed source cannot be obtained.</li>
      </ul>
      <h4>Generally rejected</h4>
      <ul>
        <li>Very low resolution images that make it hard to see what is being depicted.</li>
        <li>Content that suffered severely because of bad compression artifacts and/or other damage (corrupted images, blurry images, videos that refuse to play, etc.)</li>
      </ul>
      <p>Maliciously or carelessly uploading content that has been rejected before from the same user can result in a temporary or permanent ban, depending on severity and intent. The same can apply when uploading content that is similar to previously rejected content from the same user. We will not pull out the ban hammer too quickly on this, and we will inform or warn the user first.</p>

      <p>Keep in mind that uploads may be removed if an exact copy already exists on the booru. Normally exact copies are prevented from being uploaded, but tiny differences in compression can still make them go through.</p>
    </div>
    <div class="section">
      <h3>Comments</h3>
      <ul>
        <li>Don't spam</li>
        <li>Don't be an asshole. Don't insult other users, don't be a racist, etc.</li>
        <li>You can use this section if you have questions, suggestions, requests, feedback, etc. For requests or feedback regarding ATFbooru in general, we recommend members of the All The Fallen forum to use the Gallery subforum.</li>
      </ul>

    <div class="section">
      <h3>Forum</h3>
      <ul>
        <li>Don't spam</li>
        <li>Don't be an asshole. Don't insult other users, don't be a racist, etc.</li>
        <li>If you want an upload to be removed, a deleted upload appealed, or similar matters, use the appeal/flag function. Commenting will not garantuee a response.</li>
        <li>If you know something is wrongfully tagged, or a tag is missing, don't complain about it in the comments. Every user can edit tags themselves. Of course, comments are fine if you are not sure and want some feedback.</li>
      </ul>

    <div class="section">
      <h3>Tagging</h3>
      <ul>
        <li>Maliciously using the wrong tags can result in a temporary or permanent ban.</li>
        <li>Do not add tags that don't exist if there is no good reason for it. Try first checking synomyms to make sure an existing tag isn't already present before adding a new one. Having separate tags to refer to the same character or source material is annoying and unnecessary. Don't create tags if they seem to be unnecessary. If you are not sure about creating one, it probably means you shouldn't.</li>
        <li>Tag what you can SEE. It does not matter what the source material is about, or what the artist says it is. However, if the sex of the character is obvious or known through the source material, you can assume that is the sex of the character being depicted, unless the artwork itself suggests otherwise. "Ambiguous gender" should be used in case the gender/sex is not clear and unknown (e.g. no obvious physical traits or genitilia).</li>
        <li>You can request a tag alias or implication, if you want a tag name to be changed or imply other tags respectively.</li>
      </ul>

    <div class="section">
      <h3>Copyright Infringement</h3>

      <p>If you believe a post infringes upon your copyright, please send an email to the <%= mail_to Danbooru.config.contact_email, "webmaster", :encode => "hex" %> with the following pieces of information:</p>
      <ul>
        <li>The URL of the infringing post.</li>
        <li>Proof that you own the copyright.</li>
      </ul>
    </div>

    <div class="section">
      <h3>Privacy Policy</h3>

      <p>ATFbooru will not disclose the IP address, email address, password, or DMails of any user except to the staff.</p>
      <p>ATFbooru is allowed to make public everything else, including but not limited to: uploaded posts, favorited posts, comments, forum posts, wiki edits, and note edits.</p>
    </div>

    <div class="section">
      <h3>Accounts</h3>

      <p>You may have alternative accounts for bots or scripts, but if there's any suspicion you either create a new account or reuse an existing one to evade a ban or any sort of account limitation (limited uploads, loss of flagging or user feedback permissions), then all your accounts will be banned. Bot accounts that flag posts or leave user feedback are not permitted and will be banned.</p>
      <p>Account sharing is not permitted. If you are suspected of sharing an account, then it will be banned.</p>
    </div>
</div>

<% content_for(:page_title) do %>
  Rules - <%= Danbooru.config.app_name %>
<% end %>
